body {
    background-color: bisque;
}

.poem {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 30px;
    height: 50%;
    width: 50%;
    box-shadow: 10px 10px 20px black;
}